.congratulation.one {
    margin-top: -20px;
    font-size: 26px;
    line-height: 1.12;
}

.congratulation.two {
    margin-top: -20px;
    font-size: 27px;
    line-height: 1.15;
}

.congratulation.three {
    margin-top: 5px;
    font-size: 32px;
    line-height: 1.15;
}

.congratulation.four {
    margin-top: -10px;
    font-size: 29px;
    line-height: 1.15;
}

.congratulation.five {
    margin-top: -20px;
    font-size: 25px;
    line-height: 1.15;
}

.congratulation.six {
    margin-top: -20px;
    font-size: 25px;
    line-height: 1.15;
}