@import url("src/css/congratulation.css");

@font-face {
    font-family: "MonotypeCorsivaRegular";
    src: url("src/fonts/MonotypeCorsivaRegular.woff") format("woff"), url("src/fonts/MonotypeCorsivaRegular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "MonotypeCorsivaBold";
    src: url("src/fonts/MonotypeCorsivaBold.woff") format("woff"), url("src/fonts/MonotypeCorsivaBold.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@page {
    size: A4;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    overflow: auto;
    height: 100vh;
}

p {
    margin: 0;
    padding: 0;
}

.a4-page {
    min-width: 210mm;
    min-height: 297mm;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #ff0000;
    padding-top: 150px;
    box-sizing: border-box;
}

.a4-page:last-child {
    margin-bottom: 30px;
}

.block {
    display: flex;
    justify-content: center;
    width: 203mm;
    height: 96mm;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    margin-bottom: 25px;
    position: relative;
}

.congratulation {
    font-family: "MonotypeCorsivaBold";
    width: 195mm;
    height: 80mm;
    text-align: center;
    white-space: pre-line;
}

.director {
    font-family: "MonotypeCorsivaRegular";
    font-size: 22px;
    display: flex;
    position: absolute;
    gap: 0 80px;
    bottom: 2px;
    right: 15px;
}

.director_name {
    align-self: flex-end;
}

@media print {
    body {
        background: none;
        display: block;
        gap: 0;
    }
    .a4-page {
        box-shadow: none;
        margin: 0;
        page-break-before: always;
    }
}

.tvoi {
    color: blueviolet;
}

.kirill {
    color: #c033ad;
}
